<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>File Head Documentation</Title>
			<Author>Maycon Freitas</Author>
			<Description>Creates a documentation header for a file.</Description>
			<Shortcut>docme</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[/*
 * Title: 
 * Author: 
 * Date: 
 * Purpose: 
 */]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>