<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">

    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Exemplo Snippet 1</Title>
			<Author>Maycon Freitas</Author>
			<Description></Description>
			<Shortcut>exmp1</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA["1,2,3"]]>
            </Code>
        </Snippet>
    </CodeSnippet>

	<CodeSnippet Format="1.0.0">
        <Header>
            <Title>Exemplo Snippet 2</Title>
			<Author>Maycon Freitas</Author>
			<Description></Description>
			<Shortcut>exmp2</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA["4,5,6"]]>
            </Code>
        </Snippet>
    </CodeSnippet>


</CodeSnippets>